.body {
	background: #4f4f4f;
    background:#ff960c;
	color: #02feff;
}
.App {
  text-align: center;
}

.Place {
    background: #7e7e7e;
    border: 2px solid #ff960c;
    border-radius: 8px;

}

.Review {
    background: #6c9bc2;
    border: 2px solid #ff9305;
    border-radius: 8px;

}

.Title {
    text-shadow: 2px 2px #02feff;
    color: #ff9305;
    margin-left: 20px;
}

.Site {
    background-color: #afafaf;
}